{{> header }}

  <ul class="menu_bar">
    <li class="menu_item"><a href="/grain">About 3D-He</a></li>
    <li class="menu_item"><a href="/grain/load_images">Load Images</a></li>
    <li class="menu_item"><a href="/grain/outline_images" class="active_item">Set Grain Outline</a></li>
    <li class="menu_item"><a href="">Item3</a></li>
  </ul>

  <div class="center_content">
    {{#if grain_samples}}
      <form action="/grain/outline_images" method="post" class="vspace2">
        Select sample:
        <select name="sample">
        {{#each grain_samples as |sample|}}
          <option value="{{sample}}">{{sample}}</option>
        {{/each}}
      </select>
      <button type="submit">edit images</button>
      </form>
    {{else}}
      <h2>You have to upload some images first</h2>
    {{/if}}


    {{#if sample_images}}
      <form action="/grain/store_outlines" method="post" class="vspace2">
        <table class="grain_image_outline">
          {{#each sample_images as |image|}}
          <input name="coordinates" type="hidden" value="">
          <input name="axis" type="hidden" value="">
          <input name="image_ids" type="hidden" value="{{image.[1]}}">
            <tr>
              <td colspan="3">{{image.[0]}}</td>
            </tr>
            <tr>
              <td><img name="grain_image" src="/grain/user_data/{{image.[0]}}"></img></td>
              <td><canvas name="grain_canvas" width="1" height="1"></canvas></td>
              <td>bw threshold:
                <img class="button_center" src="/images/plus.png" onclick="inc_bw_threshold({{@index}})"></img>
                <img class="button_center" src="/images/minus.png" onclick="dec_bw_threshold({{@index}})"></img>
              </td>
            </tr>
            <tr class="end_row">
            </tr>
          {{/each}}
          <tr>
            <td colspan="3"><button type="submit" onclick="submit_coordinates()">Store outlines</button></td>
          </tr>
        </table>
      </form>
    {{/if}}
  </div>

  <script src="/js/grain_outline.js"></script>

{{> footer }}
