{{> header }}

  <ul class="menu_bar">
    <li class="menu_item"><a href="/web_gui/grain">About 3D-He</a></li>
    <li class="menu_item"><a href="/web_gui/grain/load_images" class="active_item">Load Images</a></li>
    <li class="menu_item"><a href="/web_gui/grain/outline_images">Set Grain Outline</a></li>
    <li class="menu_item"><a href="/web_gui/grain/calculate">Run calculation</a></li>
  </ul>


  <h2>Column description:</h2>

  <ol class="vspace2">
    <li>Picture taken from the crystal</li>
    <li>Sample name, must be unique</li>
    <li>Pixel size: original resolution of image in micrometer per pixel</li>
    <li>Mode:
      <ul>
        <li><b>'normal'</b> mode for grains or broken grains (example: Test-1)</li>
        <li><b>'cut' mode</b> for grains grained and polished (example: Test-2)</li>
      </ul>
    </li>
    <li>Mineral:
      <ul>
        <li><b>'ap'</b> apatite grain</li>
        <li><b>'zr'</b> zircon grain</li>
      </ul>
    </li>
    <li>Ratio 232 / 238: ratio of 232Th and 238U, measured in mol; if 0, mean values are used</li>
    <li>Ratio 147 / 238: ratio of 147Sm and 238U, measured in mol; if 0 mean values are used</li>
    <li>Orientation: defines the orientation of the crystal c-axis to the field of view: <b>parallel</b> or <b>perpendicular</b></li>
    <li>Shape: <b>hexagonal</b>, <b>ellipsoid</b>, <b>cylinder</b>, <b>block</b> (analytical equations from Ketcham et al. 2011)</li>
    <li>Pyramids: number of pyramids, required for analytical calculation: 0, 1 or 2</li>
    <li>Broken tips: <b>yes</b> or <b>no</b></li>
    <li>Zoned: are radio nuclides inhomogenously distributed, <b>yes</b> or <b>no</b></li>
    <li>Rim width: width of zoned rim in micrometer</li>
    <li>Ratio Rim / Core: radio nuclide ratio between rim and core (1: homogenous distribution, &lt;1: rim depleted, &gt;1: rim concentrated)</li>
  </ol>

  <form action="/web_gui/grain/load_images" method="post" class="vspace2" enctype="multipart/form-data">
    <table class="upload_image">
      <tr>
        <td>1) Image name</td>
        <td>2) Sample name</td>
        <td>3) Pixel size</td>
        <td>4) Mode</td>
        <td>5) Mineral</td>
        <td>6) Ratio 232 / 238</td>
      </tr>
      <tr>
        <td><input type="file" name="image"></td>
        <td><input type="text" name="sample_name"></td>
        <td><input type="number" name="size" value="0.3998" step="any" required></td>
        <td>
          <select name="mode">
            <option value="0">normal</option>
            <option value="1">cut</option>
          </select>
        </td>
        <td>
          <select name="mineral">
            <option value="0">ap</option>
            <option value="1">zr</option>
          </select>
        </td>
        <td><input type="number" name="ratio_232_238" value="0.4444" step="any" required></td>
      </tr>
    </table>

    <table class="upload_image vspace1">
      <tr>
        <td>7) Ratio 147 / 238</td>
        <td>8) Orientation</td>
        <td>9) Shape</td>
        <td>10) Pyramids</td>
        <td>11) Broken tips</td>
        <td>12) Zoned</td>
        <td>13) Rim width</td>
        <td>14) Ratio rim / core</td>
      </tr>
      <tr>
        <td><input type="number" name="ratio_147_238" value="0.0615" step="any" required></td>
        <td>
          <select name="orientation">
            <option value="0">parallel</option>
            <option value="1">perpendicular</option>
          </select>
        </td>
        <td>
          <select name="shape">
            <option value="0">hexagonal</option>
            <option value="1">ellipsoid</option>
            <option value="2">cylinder</option>
            <option value="3">block</option>
          </select>
        </td>
        <td>
          <select name="pyramids">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </td>
        <td>
          <select name="broken_tips">
            <option value="0">no</option>
            <option value="1">yes</option>
          </select>
        </td>
        <td>
          <select name="zoned">
            <option value="0">no</option>
            <option value="1">yes</option>
          </select>
        </td>
        <td><input type="number" name="rim_width" value="20.0" step="any" required></td>
        <td><input type="number" name="ratio_rim_core" value="1.0" step="any" required></td>
      </tr>
    </table>
    <button type="submit" class="font_size_20 vspace2">Upload Image</button>
  </form>

  {{#if grain_images}}
  <form action="/web_gui/grain/remove_images" method="post" class="vspace2">
    <table class="upload_image">
      <tr>
        <td>Remove?</td>
        <td>1) Image name</td>
        <td>2) Sample <br> name</td>
        <td>3) Pixel <br> size</td>
        <td>4) Mode</td>
        <td>5) Mineral</td>
        <td>6) Ratio <br> 232 / 238</td>
        <td>7) Ratio <br> 147 / 238</td>
        <td>8) Orientation</td>
        <td>9) Shape</td>
        <td>10) Pyramids</td>
        <td>11) Broken <br> tips</td>
        <td>12) Zoned</td>
        <td>13) Rim <br> width</td>
        <td>14) Ratio <br> rim / core</td>
      </tr>
      {{#each grain_images as |image|}}
      <tr>
        <td><input type="checkbox" name="remove" value="{{image.id}}"></td>
        <td>{{image.file_name}}</td>
        <td>{{image.sample_name}}</td>
        <td>{{image.size}}</td>
        <td>{{image.mode}}</td>
        <td>{{image.mineral}}</td>
        <td>{{image.ratio_232_238}}</td>
        <td>{{image.ratio_147_238}}</td>
        <td>{{image.orientation}}</td>
        <td>{{image.shape}}</td>
        <td>{{image.pyramids}}</td>
        <td>{{image.broken_tips}}</td>
        <td>{{image.zoned}}</td>
        <td>{{image.rim_width}}</td>
        <td>{{image.ratio_rim_core}}</td>
      </tr>
      {{/each}}
    </table>
    <button type="submit" class="font_size_20 vspace2">Remove selected</button>
  </form>
  {{/if}}

{{> footer }}
