{{> header }}

  <ul class="menu_bar">
    <li class="menu_item"><a href="/web_gui/grain">About 3D-He</a></li>
    <li class="menu_item"><a href="/web_gui/grain/load_images">Load Images</a></li>
    <li class="menu_item"><a href="/web_gui/grain/outline_images">Set Grain Outline</a></li>
    <li class="menu_item"><a href="/web_gui/grain/calculate" class="active_item">Run calculation</a></li>
  </ul>

  <div class="center_content">
    {{#if grain_samples}}
      <form action="/web_gui/grain/calculate" method="post" class="vspace2">
        Select sample:
        <select name="sample">
        {{#each grain_samples as |sample|}}
          <option value="{{sample}}">{{sample}}</option>
        {{/each}}
      </select>
      <button type="submit">calculate</button>
      </form>
    {{else}}
      <h2>You have to upload some images first</h2>
    {{/if}}

    {{#if message}}
      <h2>{{message}}</h2>
    {{/if}}

    {{#if results}}
      {{#each results as |result|}}
        <p>{{result.[0]}}</p>
        <p>{{result.[1]}}</p>
      {{/each}}
    {{/if}}
  </div>

  <script src="/web_gui/js/grain_refresh.js"></script>

{{> footer }}
